DataFrame - Indices Multiniveis

In [2]:
import numpy as np
import pandas as pd

codigo copiado

In [3]:
# niveis de Ã­ndice
outside = ['G1', 'G1', 'G1', 'G2', 'G2','G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

lista com elemtentos que varia de G1 a G2

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

lsita com elementos que varia de 1 2 3 1 2 3

In [5]:
inside

[1, 2, 3, 1, 2, 3]

Ultilizando metodo zip e crio uma lista de tuplas cada valor de G! com galores da segunda lsita

In [6]:
hier_index = list(zip(outside, inside))

In [7]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [8]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

Criando um indice multinivel

In [9]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

Temos um dataframe de multi niveis

Indices de multinivel server para classificar dados que necessitam serem clasificados

In [10]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])

In [11]:
df

             A         B
G1 1 -0.517902 -2.211441
   2 -0.313656 -0.843476
   3  0.317094  1.829197
G2 1  1.370792  1.107797
   2  0.621381  0.417863
   3 -2.387219 -0.509421

DataFrame normal

In [12]:
df.loc['G1']

          A         B
1 -0.517902 -2.211441
2 -0.313656 -0.843476
3  0.317094  1.829197

Uma series que contem indice 1

In [13]:
df.loc['G1'].loc[1]

A   -0.517902
B   -2.211441
Name: 1, dtype: float64

In [14]:
df.index.names

FrozenList([None, None])

In [15]:
df.index.names = ['Grupo', 'Numero']

Indice esterno se chama grupo e o interno se chama numero

In [16]:
df

                     A         B
Grupo Numero
G1    1      -0.517902 -2.211441
      2      -0.313656 -0.843476
      3       0.317094  1.829197
G2    1       1.370792  1.107797
      2       0.621381  0.417863
      3      -2.387219 -0.509421

In [17]:
df.xs('G1')

               A         B
Numero
1      -0.517902 -2.211441
2      -0.313656 -0.843476
3       0.317094  1.829197

DataFrame que contem grupos esternos mas nÃ£o o interno

In [18]:
df.xs(1, level='Numero')

              A         B
Grupo
G1    -0.517902 -2.211441
G2     1.370792  1.107797

Codigo extra

ExibiÃ§Ã£o sÃ³ do Grupo G2

In [19]:
df.xs('G2')

               A         B
Numero
1       1.370792  1.107797
2       0.621381  0.417863
3      -2.387219 -0.509421

Idice 2 do Grupo G1 e G2

In [23]:
df.xs(2, level='Numero')

              A         B
Grupo
G1    -0.313656 -0.843476
G2     0.621381  0.417863

indice 3 do Grupo G1 e G2

In [24]:
df.xs(3, level='Numero')

              A         B
Grupo
G1     0.317094  1.829197
G2    -2.387219 -0.509421