Dados Ausentes
Tratamento de dados ausentes
Principais formas de tratar esse dados

In [1]:
import numpy as np
import pandas as pd

Criando um dicionario com dados ausentes

In [2]:
d = {'A':[1, 2, np.nan], 'B':[5, np.nan, np.nan], 'C': [1, 2, 3]}

In [3]:
d

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

Criando um DataFrame com valores faltantes

In [5]:
df = pd.DataFrame(d)

In [6]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

Tirando as colunas que tem dados faltantes

In [7]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [ ]:
Tirando as colunas que tem pelo menos 2 dados faltantes

In [9]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [10]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

Mundando o nome dos indices que falta

In [11]:
df.fillna(value='Fill na')

         A        B  C
0      1.0      5.0  1
1      2.0  Fill na  2
2  Fill na  Fill na  3

Definir Inplace=True para salvar a alteração

Substituie o NaN da coluna A pela media dos outros valroes

In [12]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [13]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

Substitui pelo dado anterior da coluna

In [15]:
df.fillna(method='ffill')

C:\Users\User\AppData\Local\Temp\ipykernel_9132\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3

Extras

In [17]:
a = {'A':[1, 2, np.nan, np.nan], 'B':[5, np.nan, np.nan, np.nan], 'C': [1, 2, 3, 4], 'D':[1, np.nan, 3, 4]}

In [18]:
df = pd.DataFrame(a)

In [19]:
df

     A    B  C    D
0  1.0  5.0  1  1.0
1  2.0  NaN  2  NaN
2  NaN  NaN  3  3.0
3  NaN  NaN  4  4.0

Substitui pelo dado anterior da coluna

In [20]:
df.fillna(method='ffill')

C:\Users\User\AppData\Local\Temp\ipykernel_9132\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

     A    B  C    D
0  1.0  5.0  1  1.0
1  2.0  5.0  2  1.0
2  2.0  5.0  3  3.0
3  2.0  5.0  4  4.0

In [21]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
3    1.5
Name: A, dtype: float64

Subs

In [22]:
df['D'].fillna(value=df['D'].mean())

0    1.000000
1    2.666667
2    3.000000
3    4.000000
Name: D, dtype: float64