DataFrame - Criação e Fatiamentos

In [2]:
import numpy as np
import pandas as pd

Usando random com um seed sendo igual em todas execuções

In [3]:
np.random.seed(101)

Esse split precisa de uma serie de dados
serie 5 linhas por 4 colunas
index A B C D E se refere ao nome das linhas
columns W X Y Z se refere ao nome das colunas

In [4]:
df = pd.DataFrame(np.random.randn(5, 4), index='A B C D E'.split(), columns='W X Y Z'.split())

Esse tipo de visulização só acontece no jupyter
Muito parecido com excel

In [5]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Similar ao dicionario para passar notação

In [6]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

são basicamentes series

In [7]:
type(df['W'])

pandas.core.series.Series

já dj é um DataFrame

In [8]:
type(df)

pandas.core.frame.DataFrame

notação que chama a coluna W e a coluna Z

In [9]:
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

Pode ser ultilizar um metodo parecido com SQL porem não se recomenda usar pois pode se deparar com palacras chaves ou reservadas

Se prefese usar notação com cochete []

In [11]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

Metodo que não funciona para criar uma nova coluna

In [12]:
df['new']

KeyError: 'new'

Aqui já é uma forma que você já consegue criar ele

In [13]:
df['new'] = df['W'] + df['X']

In [14]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

forma de deletar
muito parecido com SQL

In [16]:
df.drop('new',axis = 1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [21]:
df['new'] = df['W'] + df['X']

In [22]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

Outra forma de deletar

In [23]:
df.drop('new', axis=1, inplace=True)

In [24]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Localização de elementos por indicies

Pode se passar para extrair uma lista de valores com 'loc'
Usando o nome dos indices

In [25]:
df.loc['A', 'W']

2.706849839399938

In [26]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [27]:
df.loc[['A', 'B'],['X', 'Y', 'Z']]

          X         Y         Z
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965

Metodo 'iloc'
Parecido com metodo usado no Numpy

In [28]:
df.iloc[1:4, 2:]

          Y         Z
B -0.848077  0.605965
C  0.528813 -0.589001
D -0.933237  0.955057