Estrada e Saída de dados

Aula sobre leitura de arquivos externos de dados

In [1]:
import numpy as np
import pandas as pd

Exemplo de leitura de csv

In [2]:
df = pd.read_csv('2. Python para análise de dados/Pandas/exemplo', sep=',')

In [3]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
df = df + 1

In [5]:
df

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

Exemplo de exportação de um arquivo csv

In [6]:
df.to_csv('exemplo.csv', sep=';', decimal=',')

Exemplo de leitura de xlsx ou excel

In [7]:
df = pd.read_excel('2. Python para análise de dados/Pandas/Exemplo_Excel.xlsx', sheet_name='Sheet1')

In [8]:
df

   Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0   a   b   c   d
0             0             0           0   0   1   2   3
1             1             1           1   4   5   6   7
2             2             2           2   8   9  10  11
3             3             3           3  12  13  14  15

In [9]:
df.to_excel('2. Python para análise de dados/Pandas/Exemplo_Excel.xlsx', sheet_name='Sheet1')

In [10]:
df

   Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0   a   b   c   d
0             0             0           0   0   1   2   3
1             1             1           1   4   5   6   7
2             2             2           2   8   9  10  11
3             3             3           3  12  13  14  15

Por algum motivo ele não encotra tabela no site usado de exemplo

In [13]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

ValueError: No tables found

In [14]:
type(df)

pandas.core.frame.DataFrame